.about-us {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.about-us .about-text p {
    color: #8f95a5;
}

.about-text p {
    margin: 30px 0;
}

.stats-row {
    display: flex;
    text-align: center;
    gap: 60px;
}

.stats-row p span.number {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
