.contact-us {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form p {
    font-size: 1.2rem;
    margin: 30px auto;
}

.contact-form form {
    display: flex;
    gap: 20px;
}

.contact-form input {
    width: 450px;
    height: 55px;
    border-radius: 10px;
    border: 0.8px solid black;
}

.contact-form input::placeholder {
    font-size: 1.2rem;
    padding-left: 10px;
}

.btn-email {
    padding: 20px 50px;
    border: none;
    background-color: #263238;
    color: white;
    border-radius: 10px;
}

.contact-form {
    width: 60%;
    text-align: left;
}
