footer {
    width: 90%;
    margin: 0 auto;
}

footer hr {
    margin-bottom: 30px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-row ul {
    display: flex;
    gap: 30px;
}
