nav {
    width: 90%;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

nav .btn-nav {
    padding: 15px 50px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.2rem;
}
