.pricing {
    width: 90%;
    margin: 0 auto 100px auto;
}

.pricing .price-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}

.pricing h1 {
    text-align: center;
    margin-bottom: 20px;
}

.pricing .pricing-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-price {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 60%;
}

.btn-price span {
    font-size: 1.2rem;
    font-weight: 500;
}
